/* Main */
html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: 'Raleway', sans-serif;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
}

h1, h2, h3, h4, h5, h5, p, div, span, .icon {
    font-family: 'Raleway', sans-serif;
    color: #fff;
}

h1, h2 {
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

/* Icons */
@font-face {
    font-family: 'icomoon';
    src:  url('/fonts/icomoon.eot?kof189');
    src:  url('/fonts/icomoon.eot?kof189#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf?kof189') format('truetype'),
    url('/fonts/icomoon.woff?kof189') format('woff'),
    url('/fonts/icomoon.svg?kof189#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-cogs:before {
    content: "\e995";
}
.icon-bin2:before {
    content: "\e9ad";
}
.icon-flag:before {
    content: "\e9cc";
}
.icon-plus:before {
    content: "\ea0a";
}
.icon-floppy-disk:before {
    content: "\e962";
}
.icon-cross:before {
    content: "\ea0f";
}

/* Background Image */
#background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Todo list */
.todo-header {
    padding-bottom: 0;
    margin-bottom: 0;
    display: flex;
    align-items: center;
}

#todo-list {
    max-height: 170px;
    overflow: auto;
}

.todo-item {
    display: flex;
    justify-content: space-between;
}

/* Quote */
#quote {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#quote p {
    display: flex;
    align-items: center;
}

/* Misc */
.hidden, .loading {
    display: none !important;
}

.row {
    margin: 0 !important;
}

.btn {
    outline: none !important;
    border: none !important;
}

/* Media queries */
@media (min-width: 1200px) {
    #quote {
        position: absolute;
        top:0;
    }

    #todo-list {
        max-height: 400px;
    }
}
